<!-- <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="javascript:void(0)">Logo</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0)">Proveedor</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0)">Encargado</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0)">Articulo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0)">Compra telas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0)">Tela</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0)">Costura</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0)">Prelavado</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0)">Lavado</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0)">Postlavado</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0)">Alistados</a>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="text" placeholder="Search">
                <button class="btn btn-dark" type="button">Search</button>
            </form>
        </div>
    </div>
</nav>  -->

<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
        <a class="nav-link" href="#">Articulo</a>
        <a class="nav-link" href="#">Tela</a>
        <a class="nav-link" href="#">Rollo</a>
        <a class="nav-link" href="#">Personal</a>
        <a class="nav-link" href="#">Proveedor</a>
      </div>
    </div>
  </nav>